<%= form_with(model: task) do |form| %>

  <div class="flex w-max">
  <div class="mb-5">
    <%= form.text_field :name, class: "w-96 p-0 mt-2 text-sm border-none focus:ring-0", type: "text", autocomplete: "off", placeholder: "New Task" %>
    <p class="text-xs">
    <%= form.text_field :desc, class: "w-96 p-0 mt-2 text-sm border-none focus:ring-0", type: "text", autocomplete: "off", placeholder: "Add More Info" %>
   </p>
   <p class="text-xs">
  <%= form.date_field :date, class: "h-6 w-28 mr-2 p-1 m-0 border-none focus:ring-0 text-xs rounded-md bg-[#F5F5F5]", placeholder: "Add Date" %>
  </p>
  <%= form.submit %>
  </div>
  </div>
  </div>
<% end %>